
.form-content-footer .input-form {
    padding: 12px;
    border-radius: 20px;
}
.input-form::placeholder {
    color: #777777;
}

.button-subscribe {
    padding-inline: 12px;
    padding-top: 12px;
    padding-bottom: 12px;
    border-radius: 8px;
    color: #ffffff;
}

.flex-gap-footer {
    gap: 30px;
}
.wrap-footer-sec-1 {
    flex-direction: column;
}
.footer-slogan {
    max-width: 300px;
}

.footer-center {
    justify-content: center;
}
.footer-text-center {
    text-align: center;
}



/* Portable text */

.paragraphe-post {
    margin-bottom: 8px;
}