.video-bg-container {
    position: relative;
    width: 100%;
    height: calc(100vh - 200px)
}

.top-body-post {
    top: -60px;
    padding-inline: 16px;
}
  
video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
  
.content {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    display: flex;
    color: white;
}
  
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.2);
}

.title-video {
    font-size: 28px;
    line-height: 1.12;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
    margin-bottom: 45px;
    padding-left: 24px;
}

.icon-soc {
    width: 24px;
    height: 24px;
}

div.hr {
    width: 100%;
    height: 8px;
    background-color: #dddddd;
    box-sizing: border-box;
    touch-action: none; 
}

.first-title {
    color: #f8a604;
}

.space-pub-container {
    margin-top: 16px;
}

.icon-media {
    width: 24px;
    height: 24px;
}

.social-media-footer .social-media-container, .aside-icon-container .social-media-container{
    position: relative;
    padding: 0;
}
.social-media-footer .social-media-contain, .aside-icon-container .social-media-contain{
    flex-direction: row;
    gap: 15px;
}
.social-media-footer li.m-b-4 {
    margin: 0;
}
.social-media-footer .social-media-contain .icon-media {
    width: 20px;
    height: 20px;
}
.social-media-footer .social-media-contain .icon-media svg{
    width: 24px;
    height: 24px;
}

.aside-icon-container .icon-media svg {
    fill: #393939;
}

.wrap-close {
    padding: 4px;
    border: 1px solid #DDDDDD;
}
.wrap-close svg{
    width: 26px;
    height: 26px;
}


/* News */
.section-mostwatch-container {
    grid-template-columns: repeat(1,minmax(0,1fr));
    gap: 10px;
}
.section-mostwatch-image {
    height: 200px;
}
.section-mostwatch-container li.section-mostwatch-item .service-content{
    display: none;
}

.section-mostwatch-container li:is(.section-mostwatch-item-3, .section-mostwatch-item-4, .section-mostwatch-item-5){
    display: none;
}

.sidebar-content {
    display: block;
    position: fixed;
    max-width: 400px;
    min-width: 320px;
    height: 100%;
    top: 0;
    left: 0;
    overflow: hidden;
    z-index: 9999;
    height: 100%;
    flex-basis: 400px;
    flex-shrink: 9999;
    overflow-anchor: none;
}

.close-leftSide{
    transform: translate(-100%);
    transition: transform 450ms cubic-bezier(0.075,  0.820, 0.165, 1.000);
}
.open-leftSide{
    transform: translate(0%);
    transition: transform 300ms cubic-bezier(0.075,  0.820, 0.165, 1.000);
}

.sidebar__overlay {
    display: block;
    width: 100%;
    height: 100%;
    display: block;
    background: rgba(0,0,0,.7);
    z-index: 22;
    opacity: 1;
    position: fixed;
    top: 0px;
    left: 0px;
    transition: opacity .7s;
}

.sidebar__overlay.is-closed {
    opacity: 0;
    z-index: -1;
    visibility: hidden;
}

.nav-list-section {
    border-bottom: 1px solid #eeeeee;
}

/* Search job */
.search-bar-position {
    right: 0;
}
.search-bar-wrapper{
    width: 75px;
}
.search-bar-wrapper-focus {
    width:100%;
    max-width: 100%; 
    z-index: 99;
}
.space-search {
    width: 10px;
}
.search-bar-position .search-container-padd{
    padding-inline: 16px;
}
.search-result {
    top: 45px;
    width: 100%;
    max-width: 100%;
    border-radius: 0;
    height: 100vh;
}

.search-container::before, .search-result::before{
    content: "";
    right: 0;
    top: 0;
    bottom: 0;
    left: 0;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    opacity: 0;
    box-shadow: 0 2.8px 2.2px hsl(200 10% 20% / calc(.02 + .03)), 0 6.7px 5.3px hsl(200 10% 20% / calc(.02 + .01)), 0 12.5px 10px hsl(200 10% 20% / calc(.02 + .02)), 0 22.3px 17.9px hsl(200 10% 20% / calc(.02 + .02)), 0 41.8px 33.4px hsl(200 10% 20% / calc(.02 + .03)), 0 100px 80px hsl(200 10% 20% / .02);
    transition: opacity 0.1ms linear;
}
.search-container.show::before, .search-result::before{
    content: "";
    position: absolute;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    transition: opacity 0.1ms linear;
}

.deco-button {
    transition-timing-function: cubic-bezier(.4,0,.2,1);
    transition-duration: 167ms;
    align-items: center;
    border: none;
    box-sizing: border-box;
    cursor: pointer;
    font-family: inherit;
    font-weight: 600;
    display: inline-flex;
    justify-content: center;
    min-width: 6.4rem;
    max-width: 480px;
    overflow: hidden;
    text-align: center;
    transition-property: background-color,box-shadow,color;
    vertical-align: middle;
}
.inputSearch-container{
    min-width: 40px;
    background-color: #efefef;
    border-radius: 50px;
    min-height: 40px;
    outline: none;
}
.input-search{
    height: 40px;
    background: transparent;
    border-radius: 50px;
    border: 0;
    outline: none;
    font-weight: normal;
}
.input-search--transition {
    transition: margin-right, opacity, transform 100ms linear;
}
.input-search--transitionWidth {
    transition: width 100ms linear;
}

.text-search:hover {
    color: #1D79A7;
}