.section-list-post {
    flex-direction: column;
}

.list-post-wrap {
    grid-template-columns: repeat(1,minmax(0,1fr));
    gap: 15px;
}

.list-post-container .post-title {
    font-size: 15px;
    max-width: 400px;
}

.post-title.small-post {
    font-size: clamp(.7rem, 5vw , .85rem);
}

.post-item-image.people-item-image {
    width: 160px;
    height: 100px;
}



/* post item */

.post-item-container-page {
    height: 300px;
    width: 100%;
}
.top-body-post-container {
    padding: 16px;
}
.publishedAt{
    font-size: clamp(.7rem, 5vw , .75rem);
}
.post-item-footer {
    gap: 10px;
}


.popular-wrap-post-view {
    gap: 20px;
    grid-template-columns: repeat(1,minmax(0,1fr));
}
.popular-wrap-post-view .popular-wrap-post-0 .popular-post-container{
    flex-direction: column;
}
.popular-wrap-post-view .popular-wrap-post-0 .lastest-image{
    width: 100%;
    height: 180px;
}
.popular-wrap-post-view .popular-wrap-post-0 .post-title{
    font-size: clamp(.7rem, 5vw , 1.1rem);
}

.popular-wrap-post-view .popular-wrap-post-0 .post-body-wrap{
    padding-left: 0;
    padding-top: 16px;
}


.aside-wrap-padd {
    padding-left: 0px;
}